@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
/* Hide scrollbar but allow scrolling */
.custom-scrollbar::-webkit-scrollbar {
    display: none;  /* Hides scrollbar */
  }
    
  .custom-scrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;  /* For Firefox */
  }
  


  

/* Hide spinner in all browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Hide spinner in WebKit browsers (Chrome, Safari) */
  margin: 0; /* Remove default margin */
}

input[type="number"] {
  -moz-appearance: textfield; /* Hide spinner in Firefox */
}

